.btn-primary {
    all: unset;
    border-radius: 5px;
    background-color: $clr-pink-700;
    color: $clr-black;
    font-family: $ff-primary;
    font-size: 0.85rem;
    padding: 0.4em 0.7em;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-muted {
    border-radius: 0.5;
    background-clip: padding-box;
    background-color: $clr-grey-700;
    color: $clr-black;
    font-family: $ff-primary;
    font-size: 0.6rem;
    border: 0;
    padding: 0.4em 0.7em;
}