.service__container {
  width: 90%;
  max-width: 1000px;
  margin: 100px auto 0px auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 0px 10px 50px 10px;

  .section__service {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    padding: 0px 10px;

    .section__img {
      flex: 1;
      width: 130px;
      height: 160px;
      max-width: 130px;
      max-height: 160px;
      border-radius: 57% 43% 63% 37% / 56% 47% 53% 44%;
      background-image: url("https://res.cloudinary.com/ferjen/image/upload/v1683589682/yeah_stretching/clases/2-Stretching_phekux.jpg");
      background-position: 50% 50%;
      background-size: cover;
    }

    .section__text__container {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 5px;

      .section__title {
        font-family: $ff-secondary;
        font-size: 1.4rem;
        position: relative;
        background-color: transparent;
      }

      .section__text {
        font-size: 0.6rem;
        line-height: 12px;
        font-family: $ff-primary;
      }

      details.accordion {
        cursor: pointer;

        .accordion_title {
          color: $clr-black;
          font-family: $ff-primary;
          font-size: 0.8rem;
          list-style: none;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 5px;
          transition: margin 150ms ease-out;

          &:hover {
            color: #000;
          }
        }

        .accordion__icon {
          color: $clr-black;
          transition: transform 0.3s ease;
        }

        .accordion_text {
          font-size: 0.55rem;
          padding: 0px 0px 5px 20px;
        }
      }

      details[open] .accordion_title {
        margin-bottom: 10px;
      }

      details[open].accordion .accordion__icon {
        transform: rotate(90deg);
      }

      .btn-primary {
        margin-top: 5px;
      }

      .service__appointment {
        color: $clr-black;
        font-family: $ff-secondary;
        margin: 10px 0px 2px 0px;
        font-size: 0.6rem;
        line-height: 12px;
      }

      .service__author {
        color: $clr-black;
        font-family: $ff-secondary;
        font-style: italic;
        text-align: end;
        font-size: 0.6rem;
      }
    }
  }

  .pilatesMat {
    flex-direction: row-reverse;

    .section__img {
      width: 180px;
      height: 130px;
      max-width: 180px;
      max-height: 130px;
      border-radius: 40% 60% 59% 41% / 51% 49% 51% 49%;
      background-image: url("https://res.cloudinary.com/ferjen/image/upload/v1683589530/yeah_stretching/clases/5-Stretching_zjpehc.jpg");
    }
  }

  .stretchingRestaurativo {
    .section__title {
      width: fit-content;
    }

    .section__img {
      width: 150px;
      height: 150px;
      max-width: 150px;
      max-height: 150px;
      border-radius: 70% 30% 75% 25% / 51% 49% 51% 49%;
      background-image: url("https://res.cloudinary.com/ferjen/image/upload/v1683589531/yeah_stretching/clases/6-Stretching_fvmtof.jpg");
    }
  }

  .bienestarEmpresas {
    flex-direction: row-reverse;

    .section__title {
      width: fit-content;
    }

    .section__img {
      width: 150px;
      height: 150px;
      max-width: 150px;
      max-height: 150px;
      border-radius: 58% 42% 65% 35% / 39% 38% 62% 61%;
      background-image: url("https://res.cloudinary.com/ferjen/image/upload/v1683589530/yeah_stretching/clases/7-Stretching_uc5r19.jpg");
    }
  }
}

@media (min-width: 550px) {
  .service__container {
    .section__service {
      gap: 50px;

      .section__img {
        flex: 3;
        height: 250px;
        max-width: 250px;
        max-height: 250px;
      }

      .section__text__container {
        flex: 1;
        gap: 15px;

        .section__title {
          font-size: 2rem;

          span {
            bottom: 10px;
            height: 15px;
          }
        }

        .section__text {
          font-size: 0.9rem;
          line-height: 17px;
        }

        details.accordion {
          .accordion_title {
            font-size: 1rem;
            gap: 5px;
          }

          .accordion_text {
            font-size: 0.75rem;
          }
        }

        .btn-primary {
          font-size: 1rem;
        }

        .service__appointment {
          font-size: 0.9rem;
          line-height: 17px;
        }

        .service__author {
          font-size: 0.9rem;
        }
      }
    }

    .pilatesMat {
      .section__img {
        height: 200px;
        max-width: 300px;
        max-height: 200px;
      }
    }

    .stretchingRestaurativo {
      .section__img {
        height: 250px;
        max-width: 250px;
        max-height: 250px;
      }
    }

    .bienestarEmpresas {
      .section__img {
        height: 250px;
        max-width: 250px;
        max-height: 250px;
      }
    }
  }
}