.d-flex {
  display: flex;
}

.service__container {
  width: 90%;
  max-width: 1000px;
  margin: 100px auto 0px auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 0px 10px 50px 10px;

  .section__service {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    padding: 0px 10px;

    .section__img {
      flex: 1;
      width: 130px;
      height: 160px;
      max-width: 130px;
      max-height: 160px;
      border-radius: 57% 43% 63% 37% / 56% 47% 53% 44%;
      background-image: url("https://res.cloudinary.com/ferjen/image/upload/v1685054113/yeah_stretching/clases/servicios-1-Stretching_gqqy86.jpg");
      // background-image: url("https://res.cloudinary.com/ferjen/image/upload/v1683589682/yeah_stretching/clases/2-Stretching_phekux.jpg");
      background-position: 50% 50%;
      background-size: cover;
      animation: morph 6s ease-in-out infinite;
    }

    @keyframes morph {
      0% {
        border-radius: 70% 30% 75% 25% / 51% 49% 51% 49%;
      }

      10% {
        border-radius: 71% 29% 74% 26% / 52% 48% 52% 48%;
      }

      20% {
        border-radius: 73% 27% 72% 28% / 53% 47% 53% 47%;
      }

      30% {
        border-radius: 76% 24% 69% 31% / 54% 46% 54% 46%;
      }

      40% {
        border-radius: 78% 22% 67% 33% / 55% 45% 55% 45%;
      }

      50% {
        border-radius: 80% 20% 65% 35% / 56% 44% 56% 44%;
      }

      60% {
        border-radius: 82% 18% 63% 37% / 57% 43% 57% 43%;
      }

      70% {
        border-radius: 84% 16% 61% 39% / 58% 42% 58% 42%;
      }

      80% {
        border-radius: 87% 13% 58% 42% / 59% 41% 59% 41%;
      }

      90% {
        border-radius: 89% 11% 56% 44% / 60% 40% 60% 40%;
      }

      100% {
        border-radius: 70% 30% 75% 25% / 51% 49% 51% 49%;
      }
    }


    .section__text__container {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 10px;

      .section__title {
        font-family: $ff-secondary;
        font-size: 1.4rem;
        position: relative;
        background-color: transparent;
      }

      .section__text {
        font-size: 1rem;
        line-height: 1.25em;
        font-family: $ff-primary;
      }

      details.accordion {
        cursor: pointer;

        .accordion_title {
          color: $clr-black;
          font-family: $ff-primary;
          font-size: 1rem;
          list-style: none;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 5px;
          transition: margin 150ms ease-out;

          &:hover {
            color: #000;
          }
        }

        .accordion__icon {
          color: $clr-black;
          transition: transform 0.3s ease;
        }

        .accordion_text {
          line-height: 1.5em;
          font-family: $ff-primary;
          font-size: 1rem;
          padding: 0px 0px 5px 0px;
        }
      }

      details[open] .accordion_title {
        margin-bottom: 10px;
      }

      details[open].accordion .accordion__icon {
        transform: rotate(90deg);
      }

      .btn-primary {
        margin-top: 5px;
      }

      .service__appointment {
        color: $clr-black;
        font-family: $ff-secondary;
        margin: 10px 0px 2px 0px;
        font-size: 0.9rem;
        line-height: 1.5em;
      }

      .service__author {
        color: $clr-black;
        font-family: $ff-secondary;
        font-style: italic;
        text-align: end;
        font-size: 0.6rem;
      }
    }
  }

  .pilatesMat {
    flex-direction: row-reverse;

    .section__img {
      width: 180px;
      height: 130px;
      max-width: 180px;
      max-height: 130px;
      border-radius: 40% 60% 59% 41% / 51% 49% 51% 49%;
      background-image: url("https://res.cloudinary.com/ferjen/image/upload/v1685054114/yeah_stretching/clases/servicios-2-Pilates_Mat_rezzdx.jpg");
      // background-image: url("https://res.cloudinary.com/ferjen/image/upload/v1683589530/yeah_stretching/clases/5-Stretching_zjpehc.jpg");
      animation: morphOne 7s ease-in-out infinite;
    }

    @keyframes morphOne {
      0% {
        border-radius: 57% 43% 63% 37% / 56% 47% 53% 44%;
      }

      10% {
        border-radius: 56% 44% 62% 38% / 55% 46% 54% 45%;
      }

      20% {
        border-radius: 55% 45% 61% 39% / 54% 47% 55% 46%;
      }

      30% {
        border-radius: 54% 46% 60% 40% / 53% 48% 56% 47%;
      }

      40% {
        border-radius: 53% 47% 59% 41% / 52% 49% 57% 48%;
      }

      50% {
        border-radius: 52% 48% 58% 42% / 51% 50% 58% 49%;
      }

      60% {
        border-radius: 51% 49% 57% 43% / 50% 51% 59% 50%;
      }

      70% {
        border-radius: 50% 50% 56% 44% / 49% 52% 60% 51%;
      }

      80% {
        border-radius: 49% 51% 55% 45% / 48% 53% 61% 52%;
      }

      90% {
        border-radius: 48% 52% 54% 46% / 47% 54% 62% 53%;
      }

      100% {
        border-radius: 47% 53% 53% 47% / 46% 55% 63% 54%;
      }
    }

  }

  .stretchingRestaurativo {
    .section__title {
      width: fit-content;
    }

    .section__img {
      width: 150px;
      height: 150px;
      max-width: 150px;
      max-height: 150px;
      border-radius: 70% 30% 75% 25% / 51% 49% 51% 49%;
      background-image: url("https://res.cloudinary.com/ferjen/image/upload/v1685054412/yeah_stretching/clases/servicios-3-Stretching_restaurativo_eznboj.jpg");
      // background-image: url("https://res.cloudinary.com/ferjen/image/upload/v1683589531/yeah_stretching/clases/6-Stretching_fvmtof.jpg");
      animation: morphTow 7s ease-in-out infinite;
    }

    @keyframes morphTow {
      0% {
        border-radius: 70% 30% 75% 25% / 51% 49% 51% 49%;
      }

      10% {
        border-radius: 68% 32% 73% 27% / 52% 48% 52% 48%;
      }

      20% {
        border-radius: 66% 34% 71% 29% / 53% 47% 53% 47%;
      }

      30% {
        border-radius: 64% 36% 69% 31% / 54% 46% 54% 46%;
      }

      40% {
        border-radius: 62% 38% 67% 33% / 55% 45% 55% 45%;
      }

      50% {
        border-radius: 60% 40% 65% 35% / 56% 44% 56% 44%;
      }

      60% {
        border-radius: 58% 42% 63% 37% / 57% 43% 57% 43%;
      }

      70% {
        border-radius: 56% 44% 61% 39% / 58% 42% 58% 42%;
      }

      80% {
        border-radius: 54% 46% 57% 41% / 59% 41% 59% 41%;
      }

      90% {
        border-radius: 52% 48% 53% 47% / 60% 40% 60% 40%;
      }

      100% {
        border-radius: 70% 30% 75% 25% / 51% 49% 51% 49%;
      }
    }


  }

  .bienestarEmpresas {
    flex-direction: row-reverse;

    .section__title {
      width: fit-content;
    }

    .section__img {
      width: 150px;
      height: 150px;
      max-width: 150px;
      max-height: 150px;
      border-radius: 58% 42% 65% 35% / 39% 38% 62% 61%;
      background-image: url("https://res.cloudinary.com/ferjen/image/upload/v1685054114/yeah_stretching/clases/servicios-4-Bienestar_empresas_htgzgt.jpg");
      // background-image: url("https://res.cloudinary.com/ferjen/image/upload/v1683589530/yeah_stretching/clases/7-Stretching_uc5r19.jpg");
    }
  }
}

@media (min-width: 550px) {
  .service__container {
    .section__service {
      gap: 50px;

      .section__img {
        flex: 3;
        height: 250px;
        max-width: 250px;
        max-height: 250px;
      }

      .section__text__container {
        flex: 1;
        gap: 15px;

        .section__title {
          font-size: 2rem;

          span {
            bottom: 10px;
            height: 15px;
          }
        }

        .section__text {
          line-height: 1.25em;
          font-size: 1rem;
        }

        details.accordion {
          .accordion_title {
            font-size: 1rem;
            gap: 5px;
          }

          .accordion_text {
            line-height: 1.25em;
            padding: 0;
            font-family: $ff-primary;
            font-size: 1rem;
          }
        }

        .btn-primary {
          font-size: 1rem;
        }

        .service__appointment {
          font-size: 0.9rem;
          line-height: 1.25em;
        }

        .service__author {
          font-size: 0.9rem;
        }
      }
    }

    .pilatesMat {
      .section__img {
        height: 200px;
        max-width: 300px;
        max-height: 200px;
      }
    }

    .stretchingRestaurativo {
      .section__img {
        height: 250px;
        max-width: 250px;
        max-height: 250px;
      }
    }

    .bienestarEmpresas {
      .section__img {
        height: 250px;
        max-width: 250px;
        max-height: 250px;
      }
    }
  }
}