// COLORS
$clr-white: #fff; //para letras
$clr-black: #505050; //para letras
// $clr-pink-800: #ca8eab;
$clr-pink-800: #D881AB;
$clr-pink-700: #f1b3d2;
$clr-pink-600: #fccde4; //para resaltar
$clr-grey-700: #99999A;
$clr-grey-600: #E9E9E9;


$clr-black: rgb(80, 80, 80); //para letras
$clr-pink-800: rgb(216, 129, 171);
$clr-pink-700: rgb(241, 179, 210);
$clr-pink-600: #ffe3f1; //para resaltar
$clr-grey-700: rgb(153, 153, 154);
$clr-grey-600: rgb(233, 233, 233);