@font-face {
    font-family: 'Chapaza';
    src: url('https://res.cloudinary.com/ferjen/raw/upload/v1683509150/yeah_stretching/fonts/Chapaza-Regular_euibcs.eot');
    src: url('https://res.cloudinary.com/ferjen/raw/upload/v1683509150/yeah_stretching/fonts/Chapaza-Regular_euibcs.eot?#iefix') format('embedded-opentype'),
        url('https://res.cloudinary.com/ferjen/raw/upload/v1683509150/yeah_stretching/fonts/Chapaza-Regular_q1l1wl.woff2') format('woff2'),
        url('https://res.cloudinary.com/ferjen/raw/upload/v1683509150/yeah_stretching/fonts/Chapaza-Regular_zgpvph.woff') format('woff'),
        url('https://res.cloudinary.com/ferjen/raw/upload/v1683509151/yeah_stretching/fonts/Chapaza-Regular_ubcwsd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


$ff-primary: 'Louis George Café', sans-serif;
$ff-primary-light: 'Louis George Café Light', sans-serif;
$ff-secondary: 'Chapaza', serif;

$fs-xxxs: 0.5em;
$fs-xxs: 0.6em;
$fs-xs: 0.75em;
$fs-sm: 1em;
$fs-md: 1.2em;
$fs-lg: 1.5em;
$fs-xl: 2em;
$fs-xxl: 2.5em;
$fs-xxxl: 3.5em;

$lh-sm: 1.25em;
$lh-md: 1.75em;

$gradient-pink: linear-gradient(0deg, rgba(255, 255, 255, 0) 6%, rgba(252, 205, 228, 1) 21%, rgba(252, 205, 228, 1) 54%, rgba(255, 255, 255, 0) 76%, rgba(255, 255, 255, 0) 100%);

$gradient-white: linear-gradient(0deg, rgba(255, 255, 255, 0) 6%, rgba(255, 255, 255, 1) 24%, rgba(255, 255, 255, 1) 52%, rgba(255, 255, 255, 0) 74%, rgba(255, 255, 255, 0) 100%);


.ff-primary {
    font-family: $ff-primary;
}

.ff-secondary {
    font-family: $ff-secondary;
}

.text__highlight {
    background: $gradient-pink;
    display: inline-block;
    padding: 0;
}

.text__highlight--white {
    background: $gradient-white;
    display: inline-block;
    text-align: center;
    padding: 0;
}