* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: $clr-black;
    font-size: $ff-primary;
}

main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

a {
    all: unset;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;

}