.hero__container {
    display: flex;
    position: relative;
    flex-direction: column;
    overflow-x: hidden;
    margin-top: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100vw - 2rem);
}

.heroEmpresa__container {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    margin-top: 2.5rem;
    width: 100vw;
}

.subsection {
    display: flex;
    justify-content: space-between;
}

.hero__title {
    width: 70%;
    margin-bottom: 0;

    &--mt {
        display: flex;
        flex-direction: column;
        margin-top: 2.8rem;
    }

    &--b {
        font-weight: 800;
    }
}

.hero__image {
    margin-top: 2.5rem;
    // margin-right: 1.5rem;
    width: 10rem;
    align-self: end;
    z-index: -1;
}

.hero__icon-arrow {
    width: 1.2rem;
    height: 1.2rem;
    margin: 1.5rem 0;
}

h2 {
    font-family: $ff-secondary;
    font-size: 1.2rem;
    font-weight: 500;
    color: $clr-black;
    margin: 0;
    padding: 0;
}

h4 {
    font-family: $ff-primary;
    font-size: 0.6rem;
    font-weight: 600;
    margin: 0;
    color: $clr-black;
}

h5 {
    font-family: $ff-primary;
    font-size: 0.6rem;
    font-weight: 400;
    color: $clr-black;
}

.text__highlight {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, $clr-pink-600 60%, rgba(255, 255, 255, 0) 100%);
    display: inline-block;
    padding: 0;
}

.text__highlight--white {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 90%);
    display: inline-block;
    text-align: center;
    padding: 0;
}

.text__highlight--icon {
    margin: 0;
    padding: 0;
    width: 1rem;
}

.hero__curve {
    position: absolute;
    align-self: flex-start;
    width: 100%;
    top: 24px;
    margin-top: 0;
    padding: 0;
    z-index: -1;
}

.hero__btn {
    margin-top: 1rem;
    background-color: black;
}

.hero__btn:hover {
    background-color: $clr-pink-800;
}

.servicios__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 300px;
}

.servicios__title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Smallest screens (up to 390px) */
@media only screen and (max-width: 390px) {

    .hero__container {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
        margin-top: 2.5rem;
        // padding-left: 1rem;
        padding-right: 0.1rem;
        width: calc(100vw - 1rem);
    }

    .heroEmpresa__container {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: start;
        overflow-x: hidden;
        margin-top: 2.5rem;
        width: 100vw;
        background-color: $clr-grey-600;
    }

    h2 {
        font-size: 1.4rem;
    }

    h4 {
        margin: 0.8rem 0;
        font-size: 0.9rem;
    }

    h5 {
        font-size: 0.8rem;
    }

    .hero__title {
        width: 80vw;
        margin-right: 1.5rem;

        &--mt {
            margin-top: 3.5rem;

        }
    }

    .hero__image {
        margin-top: 4.5rem;
        // margin-right: 1rem;
        align-self: center;
        width: 12rem;
    }

    .hero__icon-arrow {
        margin-top: 1.2rem;
        margin-bottom: 2.2rem;
    }

    .empresa__container {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        // width: 300px;
    }

    .empresa__text {
        font-family: $ff-primary;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0.5rem;
        font-size: 0.9rem;
        width: calc(90vw - 3rem);
        text-align: center;
    }

    .servicios__container {
        color: $clr-black;
        // comment
    }

    .empresa__img {
        width: 100vw;
        height: auto;
    }

    .reviews__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    .svgIcon {
        width: 100%;
        height: 100%;
    }
}


/* Small screens (up to 576px) */
@media only screen and (min-width: 391px) and (max-width: 576) {

    h2 {
        font-size: 1.5rem;
    }

    h4 {
        margin: 0.8rem 0;
        font-size: 0.9rem;
    }

    h5 {
        font-size: 0.8rem;
    }

    .hero__title {
        width: 90%;
        font-size: 2rem;
        margin-left: 1.5rem;

        &--mt {
            margin-top: 3.5rem;
            margin-left: 1.5rem;
        }
    }

    .hero__image {
        margin-top: 4.5rem;
        margin-right: 2.8rem;
        align-self: center;
        width: 13rem;
    }

    .hero__icon-arrow {
        margin-top: 1.2rem;
        margin-bottom: 2.2rem;
    }

    .servicios__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .empresa__img {
        width: 320px;
        height: auto;
        background-color: $clr-grey-600;
    }
}


/* Medium screens (576px to 768px) */
@media only screen and (min-width: 577px) and (max-width: 768px) {
    /* Your CSS code for medium screens here */
}

/* Large screens (768px to 992px) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
    /* Your CSS code for large screens here */
}

/* Extra-large screens (992px to 1200px) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
    /* Your CSS code for extra-large screens here */
}

/* XXL screens (above 1201px) */
@media only screen and (min-width: 1201px) {
    /* Your CSS code for XXL screens here */
}