.navbar {

  &__container {
    // background-color: whitesmoke;
    display: flex;
    height: 3rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 5px 10px;
    a {
        all: unset;
      }
  }
  &__logo {
    width: 50px;
    cursor: pointer;
    img {
      width: 100%;
    }
  }
  &__link__container{
    display: flex;
    gap: 20px;
    a {
        cursor: pointer;
      }
  }
}
